# Core Signal Processing & ML Dependencies
numpy==1.26.4
scipy==1.13.1
matplotlib
pandas
scikit-learn==1.4.2
torch
torchvision
librosa
soundfile
tqdm
uv
streamlit
plotly
joblib==1.4.2

# Backend API & Server Dependencies
fastapi
uvicorn[standard]
python-multipart
pydantic
websockets
